In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [3]:
db, coll = connectCollection('companies','companies')

In [4]:
my_company = {
    "Employees": [20, 5, 10, 15, 5, 20, 1, 10, 1],
    "Department": ['Designers', 'UI/UX Engineers', 'Frontend Developers', 'Data Engineers', 'Backend Developers', 'Account Managers', 'Maintenance', 'Executives', 'CEO/President']
}
df_company = pd.DataFrame(my_company)

In [5]:
df_company

   Employees           Department
0         20            Designers
1          5      UI/UX Engineers
2         10  Frontend Developers
3         15       Data Engineers
4          5   Backend Developers
5         20     Account Managers
6          1          Maintenance
7         10           Executives
8          1        CEO/President