## MONGODB-PROJECT: GEOSPATIAL QUERIES

!pip3 install pymongo

In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np

★ Defino una funcion para conectarme a MongoDB

In [2]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

★ Le digo el database y la coleccion a la que quiero acceder y conectarme

In [3]:
db, coll = connectCollection('companies','companies')

★ Busco todas las compañias que esten en la industria "games_video"

In [4]:
gaming_companies = list(coll.find({'category_code':"games_video"}))
# len(gaming_companies) == 1083

★ Filtro el db con una query a mongodb. Le pido que me devuelva todas las compañías que no hayan quebrado y aquellas que tengan más de una oficina, que me seleccione todas.

In [5]:
company2 = list(coll.find({"$and": [{"deadpooled_year":None},{"$where":'this.offices.length >= 1'}]}))

In [6]:
len(company2)

12957

★ Creo un diccionario de una lista a la que le voy metiendo todos los valores con los que me quiero quedar.

In [7]:
merged_offices = []
for c in company2:
    offices = c.get('offices',[])
    for office in offices:
        merged_office = dict()
        raised_amount=0
        merged_office["ref"] = str(c.get('_id',0))
        merged_office["name"]=c.get('name',0)
        merged_office["category"]=c.get('category_code',0)
        merged_office["description"]=c.get('description',0)
        merged_office["latitude"]=office.get('latitude',0)
        merged_office["longitude"]=office.get('longitude',0)
        merged_office["founded_year"]=c.get('founded_year',0)
        merged_office["total_money_raised"]=c.get('total_money_raised',0)
        for rounds in range(len(c.get('funding_rounds'))):
            r=c.get('funding_rounds')[rounds].get('raised_amount',0)
            if r !=None:
                raised_amount+=r
        merged_office["raised_amount"]=raised_amount
        if len(c.get('funding_rounds'))>0:
            merged_office["currency"]=c.get('funding_rounds')[0].get('raised_currency_code',0)
        else:
            merged_office["currency"]=0
        merged_offices.append(merged_office)
        merged_office['address'] = office.get('address1', 0)
        merged_office['zip_code'] = office.get('zip_code', 0)
        merged_office['city'] = office.get('city', 0)

★ Creo un DataFrame (df) con toda esa información

In [8]:
data = merged_offices
df = pd.DataFrame(data)
df.shape

(15848, 13)

★ Asigno a la columna 'currency' los simbolos de la moneda que salgan en la columna 'raised_amount'. De esta manera, evito tener "0" en 'currency'.

In [9]:
currencies = {"$":"USD", "C$":"CAD", "£":"GBP", "€":"EUR", "¥":"JPY", "kr":"SEK"}
for key,value in currencies.items():
    df.loc[(df['total_money_raised'].str.startswith(key)),'currency']=value

## Filtro de 1M

★ Ahora que ya tengo toda la columna 'currency' con sus respectivos valores, creo un dataframe (df_currency) que me filtre por aquellas empresas en las que el 'raised_amount' sea > 1M pero teniendo en cuenta el tipo de moneda que sea, i.e., euros, dolares, dolares canadienses, coronas suecas, etc.

In [10]:
df_currency=df[(((df['raised_amount']>=1000000) & (df['currency']=='USD'))|((df['raised_amount']>=1320000) & (df['currency']=='CAD'))|((df['raised_amount']>=900000) & (df['currency']=='EUR'))|((df['raised_amount']>=770000) & (df['currency']=='GBP'))|((df['raised_amount']>=108560000) & (df['currency']=='JPY'))|((df['raised_amount']>=9640000) & (df['currency']=='SEK')))]

★ Aquí simplemente estoy comprobando que me ha sustituido los "0" de la columna 'currency' por el tipo de moneda que le corresponda.

In [11]:
#set(df['currency'])

In [12]:
#df_currency['longitude']

   ## GOOGLE API

## Rellenar longitudes/latitudes nulas dandole a la googleAPI la dirección.

In [40]:
import os
import requests 
import json
import time
from dotenv import load_dotenv
load_dotenv()

True

In [14]:
def googleAPI(params):
    authToken = os.getenv("GOOGLE_API")
    url = "https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}".format(params,authToken)
    #print("Requesting url {}...".format(url))
    res = requests.get(url).json()
    #print("Done")
    return res

In [15]:
def get_lat_long(address):
    coordenadas = googleAPI(address)
    return coordenadas

In [16]:
addresses = list(df_currency['address'])
longitude = list(df_currency['longitude'])
for i in range(len(addresses)):
    if np.isnan(longitude[i]):
        if addresses[i]!= "":
            dat=get_lat_long(addresses[i])
            if dat['status'] != 'ZERO_RESULTS' and dat['status']!='REQUEST_DENIED' and dat['status']!='INVALID_REQUEST':
                df_currency.loc[(df_currency['address']==addresses[i]),'latitude'] = dat['results'][0]['geometry']['location']['lat']
                df_currency.loc[(df_currency['address']==addresses[i]),'longitude'] = dat['results'][0]['geometry']['location']['lng']

Done
Done

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done

In [17]:
df_currency.shape

(4824, 13)

★ Elimino todos las filas en las que la longitud/latitud sea nula, es decir, todos aquellos campos que la googleAPI no haya podido rellenar ya sea porque no tenian direccion (address) o porque la API diera alguno de los tres errores que he puesto en el bucle anterior. Una vez terminada la petición elimino los 324 nulos restantes de mi df.

In [19]:
df_currency[(df_currency['longitude'].isnull() & df_currency['latitude'].isnull())].shape

(324, 13)

In [23]:
dfinitivo_1M = df_currency.dropna(subset=['longitude', 'latitude'])
dfinitivo_1M.shape

(4500, 13)

★ Defino la funcion getLocation() que me crea un diccionario en formato GeoIndex 
y mete las longitudes y latitudes de todas las oficinas de mi df

In [25]:
def getLocation(long, lat):
    loc = {
        'type':'Point',
        'coordinates':[float(long), float(lat)]
    }
    return loc

In [26]:
df_long_lat = dfinitivo_1M[['longitude', 'latitude']] 
location = []
for long,lat in df_long_lat.values:
    location.append(getLocation(long, lat))

★ Creo la columna 'GeoIndex' en el df con el formato 'location': '{type,coordinates}'

In [27]:
dfinitivo_1M['GeoIndex'] = location

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(4500, 14)

★ Divido mis preferencias en tres dataframes distintos:

➊ Dataframe con todas las compañias que hayan levantado mas de 1M en sus respectivas monedas.

In [69]:
dfinitivo_1M.shape

(4500, 14)

➋ Dataframe con todas las compañias que hayan levantado mas de 1M y que además hayan sido creadas en los ultimos 10 años, i.e., las compañias que queremos tener cerca.

In [97]:
startups = dfinitivo_1M[dfinitivo_1M['founded_year']>=2009]
startups.shape

(141, 14)

In [307]:
startups

,ref,name,category,description,latitude,longitude,founded_year,total_money_raised,raised_amount,currency,address,zip_code,city,GeoIndex
625,52cdef7c4bab8bd675297f94,PeekYou,search,,40.757929,-73.985506,2012.0,$1.83M,1825000.0,USD,None,None,New York,"{'type': 'Point', 'coordinates': [-73.985506, ..."
638,52cdef7c4bab8bd675297f9e,GENWI,mobile,Cloud Publishing for Mobile,33.817100,-111.903500,2010.0,$7.1M,7100000.0,USD,4966 El Camino Real,94022,Los Altos,"{'type': 'Point', 'coordinates': [-111.9035, 3..."
712,52cdef7c4bab8bd675297fec,Fixya,web,Tech Support Community,37.566879,-122.323895,2013.0,$8M,8000000.0,USD,One Franklin Parkway,94401,San Mateo,"{'type': 'Point', 'coordinates': [-122.323895,..."
1177,52cdef7c4bab8bd6752981a0,Pinger,messaging,,37.334842,-121.888445,2012.0,$18.5M,18500000.0,USD,97 S. 2nd Street,95113,San Jose,"{'type': 'Point', 'coordinates': [-121.8884451..."
1228,52cdef7c4bab8bd6752981d8,Widgetbox,other,Application creation and distribution,37.798853,-122.398599,2012.0,$14.5M,14500000.0,USD,None,94111,San Francisco,"{'type': 'Point', 'coordinates': [-122.398599,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15569,52cdef7f4bab8bd67529c59b,Luma International,software,Distributed Marketing SaaS Solution,37.523518,-122.258521,2009.0,€3M,3000000.0,EUR,303 Twin Dolphin Drive Suite 600,94065-1422,303 Twin Dolphin Drive Suite 600,"{'type': 'Point', 'coordinates': [-122.2585206..."
15570,52cdef7f4bab8bd67529c59b,Luma International,software,Distributed Marketing SaaS Solution,48.855909,2.366765,2009.0,€3M,3000000.0,EUR,"22, place des Vosges",92400,Courbevoie,"{'type': 'Point', 'coordinates': [2.3667649, 4..."
15571,52cdef7f4bab8bd67529c59b,Luma International,software,Distributed Marketing SaaS Solution,51.925164,4.474385,2009.0,€3M,3000000.0,EUR,Delftseplein 36 3rd Floor,3013 AA,Rotterdam,"{'type': 'Point', 'coordinates': [4.4743846, 5..."
15794,52cdef7f4bab8bd67529c6b6,Tiny Speck,games_video,,49.282455,-123.109217,2009.0,$17.2M,17200000.0,USD,163 Hastings St W,BC V6B 1H5,Vancouver,"{'type': 'Point', 'coordinates': [-123.109217,..."
15831,52cdef7f4bab8bd67529c6e4,Getyoo,mobile,NFC Events Solutions,50.839970,4.346472,2009.0,€1.13M,1130000.0,EUR,"Rue des Tanneurs, 60a",1000,Brussels,"{'type': 'Point', 'coordinates': [4.3464721, 5..."

➌ Dataframe con todas las compañias que nacieron antes de 2009 (sin tener en cuenta los M que hayan levantado), i.e., las que queremos tener lejos.

In [30]:
old = df[df['founded_year']<=2009]
old.shape

(13239, 13)

★ Convierto los 3 dataframes a json para importarlos con mongod desde la terminal 
como collections a MongoCompass.

Import Collection:
~ mongoimport --db <_database> --collection <collection_name> --jsonArray <file_name.json>

Update Collection: 
~ mongoimport --db <_database> --drop --collection <collection_name> --jsonArray <file_name.json>

In [33]:
dfinitivo_1M.to_json('./companies1M.json', orient="records")
startups.to_json('./startups1M.json', orient="records")
old.to_json('./oldCompanies.json', orient="records")

## STARBUCKS

In [99]:
def searchPlaces(query,lng,lat,radius):
    authToken = os.getenv("GOOGLE_API")
    url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    findings = []
    params = {
        'query': query,
        'location': f'{lat}, {lng}',
        'radius': radius,
        'key': authToken
    }
    res = requests.get(url, params = params)
    results =  json.loads(res.content)
    findings.extend(results['results'])
    #while "next_page_token" in results:
       # params['pagetoken'] = results['next_page_token'],
       # res = requests.get(url, params = params)
       # results = json.loads(res.content)
        #findings.extend(results['results'])
        #time.sleep(2)
    return findings

In [224]:
lat_lng = startups[['longitude', 'latitude','ref']] 
lista_stb = []
count=0
for long,lat,ref in lat_lng.values:
    clear_output()
    count+=1
    print("Info empresa ", count)
    dict_stb=dict()
    starbucks = searchPlaces("Starbucks",long,lat,radius=500)
    dict_stb['ref'] = ref
    dict_stb['latitude_stb']= starbucks[0]['geometry']['location']['lat']
    dict_stb['longitude_stb']= starbucks[0]['geometry']['location']['lng']
    lista_stb.append(dict_stb)

Info empresa  141

In [317]:
lat_lng

        longitude   latitude                       ref
625    -73.985506  40.757929  52cdef7c4bab8bd675297f94
638   -111.903500  33.817100  52cdef7c4bab8bd675297f9e
712   -122.323895  37.566879  52cdef7c4bab8bd675297fec
1177  -121.888445  37.334842  52cdef7c4bab8bd6752981a0
1228  -122.398599  37.798853  52cdef7c4bab8bd6752981d8
...           ...        ...                       ...
15569 -122.258521  37.523518  52cdef7f4bab8bd67529c59b
15570    2.366765  48.855909  52cdef7f4bab8bd67529c59b
15571    4.474385  51.925164  52cdef7f4bab8bd67529c59b
15794 -123.109217  49.282455  52cdef7f4bab8bd67529c6b6
15831    4.346472  50.839970  52cdef7f4bab8bd67529c6e4

[141 rows x 3 columns]

In [91]:
#lista_stb

★ Creo un df_starbucks en el que meto la lista de diccionarios que me ha generado el bucle.

In [225]:
df_starbucks = pd.DataFrame(lista_stb)
df_starbucks

                          ref  latitude_stb  longitude_stb
0    52cdef7c4bab8bd675297f94     40.756727     -73.985880
1    52cdef7c4bab8bd675297f9e     33.821715    -111.922889
2    52cdef7c4bab8bd675297fec     37.562897    -122.323927
3    52cdef7c4bab8bd6752981a0     37.337380    -121.888408
4    52cdef7c4bab8bd6752981d8     37.797718    -122.401083
..                        ...           ...            ...
136  52cdef7f4bab8bd67529c59b     37.522707    -122.251741
137  52cdef7f4bab8bd67529c59b     48.855478       2.360501
138  52cdef7f4bab8bd67529c59b     51.925723       4.477603
139  52cdef7f4bab8bd67529c6b6     49.284757    -123.115384
140  52cdef7f4bab8bd67529c6e4     50.835784       4.355238

[141 rows x 3 columns]

★ Creo la columna 'GeoIndex' en el df_starbucks con el formato 'location': '{type,coordinates}'

In [227]:
stb_long_lat = df_starbucks[['longitude_stb', 'latitude_stb']] 
location_stb = []
for long,lat in stb_long_lat.values:
    location_stb.append(getLocation(long, lat))

In [228]:
df_starbucks['GeoIndex_stb'] = location_stb
df_starbucks

,ref,latitude_stb,longitude_stb,GeoIndex_stb
0,52cdef7c4bab8bd675297f94,40.756727,-73.985880,"{'type': 'Point', 'coordinates': [-73.9858802,..."
1,52cdef7c4bab8bd675297f9e,33.821715,-111.922889,"{'type': 'Point', 'coordinates': [-111.9228886..."
2,52cdef7c4bab8bd675297fec,37.562897,-122.323927,"{'type': 'Point', 'coordinates': [-122.323927,..."
3,52cdef7c4bab8bd6752981a0,37.337380,-121.888408,"{'type': 'Point', 'coordinates': [-121.888408,..."
4,52cdef7c4bab8bd6752981d8,37.797718,-122.401083,"{'type': 'Point', 'coordinates': [-122.401083,..."
...,...,...,...,...
136,52cdef7f4bab8bd67529c59b,37.522707,-122.251741,"{'type': 'Point', 'coordinates': [-122.251741,..."
137,52cdef7f4bab8bd67529c59b,48.855478,2.360501,"{'type': 'Point', 'coordinates': [2.3605014, 4..."
138,52cdef7f4bab8bd67529c59b,51.925723,4.477603,"{'type': 'Point', 'coordinates': [4.477603, 51..."
139,52cdef7f4bab8bd67529c6b6,49.284757,-123.115384,"{'type': 'Point', 'coordinates': [-123.1153839..."
140,52cdef7f4bab8bd67529c6e4,50.835784,4.355238,"{'type': 'Point', 'coordinates': [4.3552379, 5..."

★ Convierto df_starbucks a json para importarlo con mongod desde la terminal 
como un collection a MongoCompass.

In [229]:
df_starbucks.to_json('./df_starbucks.json', orient="records")

## AEROPUERTOS - https://ourairports.com/data/

In [105]:
myclient = MongoClient("mongodb://localhost/")
mydb = myclient["companies"]
mycol = mydb["db_aeropuertos"]

In [106]:
db, coll = connectCollection('companies','db_aeropuertos')

In [108]:
airports = list(coll.find({"type": 'large_airport'}))

In [162]:
def locationAirports(airports):
    longitude = airports['longitude_deg']
    latitude = airports['latitude_deg']
    loc = {
        'type':'Point',
        'coordinates':[float(longitude), float(latitude)]
    }
    return loc

In [163]:
for airport in airports:
    value = {"$set":{'location':locationAirports(airport)}}
    coll.update_one(airport, value)

In [164]:
def geoquery(geoindex,distance,col):
    points= col.find(
        {"location":
         {"$near":
          {"$geometry":
           geoindex,
           "$maxDistance":distance
            }
        }
    })
    return list(points)

In [118]:
startups['GeoIndex']

625      {'type': 'Point', 'coordinates': [-73.985506, ...
638      {'type': 'Point', 'coordinates': [-111.9035, 3...
712      {'type': 'Point', 'coordinates': [-122.323895,...
1177     {'type': 'Point', 'coordinates': [-121.8884451...
1228     {'type': 'Point', 'coordinates': [-122.398599,...
                               ...
15569    {'type': 'Point', 'coordinates': [-122.2585206...
15570    {'type': 'Point', 'coordinates': [2.3667649, 4...
15571    {'type': 'Point', 'coordinates': [4.4743846, 5...
15794    {'type': 'Point', 'coordinates': [-123.109217,...
15831    {'type': 'Point', 'coordinates': [4.3464721, 5...
Name: GeoIndex, Length: 141, dtype: object

In [230]:
lat_lng = startups[['ref','GeoIndex']] 
lista_airp = []
count=0
for ref,geoindex in lat_lng.values:
    clear_output()
    count+=1
    print("Info empresa ", count)
    airp = geoquery(geoindex, 20000, coll)
    if airp != [] :
        lista_airp.append({'ref':ref,
        'latitude_airp': airp[0]['latitude_deg'],
        'longitude_airp': airp[0]['longitude_deg']})

Info empresa  141

In [337]:
airp

[{'_id': ObjectId('5dd69fadc23726de7a7791d2'),
  'id': 2155,
  'ident': 'EBBR',
  'type': 'large_airport',
  'name': 'Brussels Airport',
  'latitude_deg': 50.901401519800004,
  'longitude_deg': 4.48443984985,
  'elevation_ft': 184,
  'continent': 'EU',
  'iso_country': 'BE',
  'iso_region': 'BE-BRU',
  'municipality': 'Brussels',
  'scheduled_service': 'yes',
  'gps_code': 'EBBR',
  'iata_code': 'BRU',
  'local_code': '',
  'home_link': 'http://www.brusselsairport.be/en/',
  'wikipedia_link': 'https://en.wikipedia.org/wiki/Brussels_Airport',
  'keywords': '',
  'location': {'type': 'Point',
   'coordinates': [4.48443984985, 50.901401519800004]}}]

In [231]:
df_airports = pd.DataFrame(lista_airp)
df_airports

                         ref  latitude_airp  longitude_airp
0   52cdef7c4bab8bd675297f94      40.777199      -73.872597
1   52cdef7c4bab8bd675297fec      37.618999     -122.375000
2   52cdef7c4bab8bd6752981a0      37.362598     -121.929001
3   52cdef7c4bab8bd6752981d8      37.721298     -122.221001
4   52cdef7c4bab8bd6752981dc      33.942501     -118.407997
..                       ...            ...             ...
95  52cdef7f4bab8bd67529c448      37.618999     -122.375000
96  52cdef7f4bab8bd67529c59b      37.618999     -122.375000
97  52cdef7f4bab8bd67529c59b      48.723333        2.379444
98  52cdef7f4bab8bd67529c6b6      49.193901     -123.183998
99  52cdef7f4bab8bd67529c6e4      50.901402        4.484440

[100 rows x 3 columns]

In [232]:
airp_long_lat = df_airports[['longitude_airp', 'latitude_airp']] 
location_airp = []
for long,lat in airp_long_lat.values:
    location_airp.append(getLocation(long, lat))

In [233]:
df_airports['GeoIndex_airports'] = location_airp
df_airports

,ref,latitude_airp,longitude_airp,GeoIndex_airports
0,52cdef7c4bab8bd675297f94,40.777199,-73.872597,"{'type': 'Point', 'coordinates': [-73.87259674..."
1,52cdef7c4bab8bd675297fec,37.618999,-122.375000,"{'type': 'Point', 'coordinates': [-122.375, 37..."
2,52cdef7c4bab8bd6752981a0,37.362598,-121.929001,"{'type': 'Point', 'coordinates': [-121.929001,..."
3,52cdef7c4bab8bd6752981d8,37.721298,-122.221001,"{'type': 'Point', 'coordinates': [-122.221001,..."
4,52cdef7c4bab8bd6752981dc,33.942501,-118.407997,"{'type': 'Point', 'coordinates': [-118.4079971..."
...,...,...,...,...
95,52cdef7f4bab8bd67529c448,37.618999,-122.375000,"{'type': 'Point', 'coordinates': [-122.375, 37..."
96,52cdef7f4bab8bd67529c59b,37.618999,-122.375000,"{'type': 'Point', 'coordinates': [-122.375, 37..."
97,52cdef7f4bab8bd67529c59b,48.723333,2.379444,"{'type': 'Point', 'coordinates': [2.3794444, 4..."
98,52cdef7f4bab8bd67529c6b6,49.193901,-123.183998,"{'type': 'Point', 'coordinates': [-123.1839981..."
99,52cdef7f4bab8bd67529c6e4,50.901402,4.484440,"{'type': 'Point', 'coordinates': [4.4844398498..."

In [234]:
df_airports.to_json('./df_airports.json', orient="records")

## COLEGIOS

In [235]:
lat_lng = startups[['longitude', 'latitude','ref']] 
lista_coles = []
count=0
for long,lat,ref in lat_lng.values:
    clear_output()
    count+=1 
    print("Info empresa ", count)
    dict_coles=dict()
    colegios = searchPlaces("Primary schools",long,lat,radius=1000)
    print('Num. Colegios: ',len(colegios))
    if colegios:
        dict_coles['ref'] = ref
        dict_coles['latitude_coles']= colegios[0]['geometry']['location']['lat']
        dict_coles['longitude_coles']= colegios[0]['geometry']['location']['lng']
        lista_coles.append(dict_coles)

Info empresa  141
Num. Colegios:  20

In [236]:
df_colegios = pd.DataFrame(lista_coles)

In [238]:
coles_long_lat = df_colegios[['longitude_coles', 'latitude_coles']] 
location_coles = []
for long,lat in coles_long_lat.values:
    location_coles.append(getLocation(long, lat))

In [239]:
df_colegios['GeoIndex_colegios'] = location_coles

In [240]:
df_colegios

,ref,latitude_coles,longitude_coles,GeoIndex_colegios
0,52cdef7c4bab8bd675297f94,40.754675,-73.967611,"{'type': 'Point', 'coordinates': [-73.9676108,..."
1,52cdef7c4bab8bd675297f9e,33.649742,-112.043109,"{'type': 'Point', 'coordinates': [-112.0431095..."
2,52cdef7c4bab8bd675297fec,37.744521,-122.429184,"{'type': 'Point', 'coordinates': [-122.4291841..."
3,52cdef7c4bab8bd6752981a0,37.338911,-121.977421,"{'type': 'Point', 'coordinates': [-121.9774208..."
4,52cdef7c4bab8bd6752981d8,37.782143,-122.400493,"{'type': 'Point', 'coordinates': [-122.4004926..."
...,...,...,...,...
136,52cdef7f4bab8bd67529c59b,37.417189,-122.108414,"{'type': 'Point', 'coordinates': [-122.1084141..."
137,52cdef7f4bab8bd67529c59b,48.851057,2.372784,"{'type': 'Point', 'coordinates': [2.372784, 48..."
138,52cdef7f4bab8bd67529c59b,51.927454,4.490382,"{'type': 'Point', 'coordinates': [4.4903819999..."
139,52cdef7f4bab8bd67529c6b6,49.236016,-123.122858,"{'type': 'Point', 'coordinates': [-123.1228583..."
140,52cdef7f4bab8bd67529c6e4,50.853599,4.372606,"{'type': 'Point', 'coordinates': [4.3726058, 5..."

In [251]:
a = df_colegios.set_index('ref')
b = df_starbucks.set_index('ref')
c = df_airports.set_index('ref')
#df_colegios.to_json('./df_colegios.json', orient="records")

## JOINS

In [309]:
m1 = pd.merge(df_airports,df_colegios,how='inner',on='ref')

joined = pd.merge(df_starbucks,m1,how='inner',on='ref')

joined2 = pd.merge(startups,joined,how='inner',on='ref')


print(a.shape,b.shape,c.shape)
len(set(joined2['ref']))

(141, 3) (141, 3) (100, 3)

80

In [ ]:
m1 = pd.merge(df_airports,df_colegios,how='inner',on='ref')
joined = pd.merge(df_starbucks,m1,how='inner',on='ref')
print(a.shape,b.shape,c.shape)
len(set(joined['ref']))

idx = list(set(joined['ref']))

ss = []
for x in idx:
    ss.append(joined[joined['ref']==x].iloc[0])

total = pd.DataFrame(ss)
total

In [313]:
m1 = pd.merge(df_airports,df_colegios,how='inner',on='ref')

joined = pd.merge(df_starbucks,m1,how='inner',on='ref')

joined2 = pd.merge(startups,joined,how='inner',on='ref')


len(set(joined2['ref']))

idx = list(set(joined2['ref']))

ss = []
for x in idx:
    ss.append(joined2[joined2['ref']==x].iloc[0])

total = pd.DataFrame(ss)

In [321]:
total = total.drop(['name', 'category', 'description', 'founded_year', 'total_money_raised', 'raised_amount', 'currency', 'address', 'zip_code'], axis=1)

In [322]:
total.to_json('df_lasbuenas.json',orient='records')

In [323]:
total

,ref,latitude,longitude,city,GeoIndex,latitude_stb,longitude_stb,GeoIndex_stb,latitude_airp,longitude_airp,GeoIndex_airports,latitude_coles,longitude_coles,GeoIndex_colegios
510,52cdef7d4bab8bd67529a08a,37.559090,-122.321836,Burlingame,"{'type': 'Point', 'coordinates': [-122.321836,...",37.562897,-122.323927,"{'type': 'Point', 'coordinates': [-122.323927,...",37.618999,-122.375000,"{'type': 'Point', 'coordinates': [-122.375, 37...",37.744521,-122.429184,"{'type': 'Point', 'coordinates': [-122.4291841..."
15,52cdef7d4bab8bd675298970,51.518190,-0.208979,London,"{'type': 'Point', 'coordinates': [-0.208979, 5...",51.516833,-0.205869,"{'type': 'Point', 'coordinates': [-0.2058693, ...",51.470600,-0.461941,"{'type': 'Point', 'coordinates': [-0.461941, 5...",51.514791,-0.203182,"{'type': 'Point', 'coordinates': [-0.2031824, ..."
788,52cdef7e4bab8bd67529b3be,37.789644,-122.401464,San Francisco,"{'type': 'Point', 'coordinates': [-122.4014635...",37.792846,-122.404304,"{'type': 'Point', 'coordinates': [-122.404304,...",37.721298,-122.221001,"{'type': 'Point', 'coordinates': [-122.221001,...",37.782143,-122.400493,"{'type': 'Point', 'coordinates': [-122.4004926..."
789,52cdef7e4bab8bd67529b438,40.724432,-73.997328,New York,"{'type': 'Point', 'coordinates': [-73.997328, ...",40.722553,-73.997942,"{'type': 'Point', 'coordinates': [-73.997942, ...",40.777199,-73.872597,"{'type': 'Point', 'coordinates': [-73.87259674...",40.754675,-73.967611,"{'type': 'Point', 'coordinates': [-73.9676108,..."
14,52cdef7c4bab8bd675298608,34.052187,-118.243425,Los Angeles,"{'type': 'Point', 'coordinates': [-118.243425,...",34.050984,-118.242338,"{'type': 'Point', 'coordinates': [-118.242338,...",33.942501,-118.407997,"{'type': 'Point', 'coordinates': [-118.4079971...",34.056046,-118.263808,"{'type': 'Point', 'coordinates': [-118.2638085..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,52cdef7e4bab8bd67529b0e2,48.435349,-122.322539,Belfast,"{'type': 'Point', 'coordinates': [-122.3225393...",48.436078,-122.335658,"{'type': 'Point', 'coordinates': [-122.335658,...",53.421299,-6.270070,"{'type': 'Point', 'coordinates': [-6.27007, 53...",47.621704,-122.292873,"{'type': 'Point', 'coordinates': [-122.2928725..."
996,52cdef7e4bab8bd67529bbbe,37.782216,-122.406622,San Francisco,"{'type': 'Point', 'coordinates': [-122.4066217...",37.784109,-122.407634,"{'type': 'Point', 'coordinates': [-122.4076337...",37.721298,-122.221001,"{'type': 'Point', 'coordinates': [-122.221001,...",37.782143,-122.400493,"{'type': 'Point', 'coordinates': [-122.4004926..."
314,52cdef7d4bab8bd67529980b,27.913011,-82.702449,Clearwater,"{'type': 'Point', 'coordinates': [-82.702449, ...",27.894294,-82.668539,"{'type': 'Point', 'coordinates': [-82.6685387,...",27.975500,-82.533203,"{'type': 'Point', 'coordinates': [-82.53320312...",27.819024,-82.633971,"{'type': 'Point', 'coordinates': [-82.6339709,..."
1087,52cdef7f4bab8bd67529bfdf,40.725902,-74.006236,New York City,"{'type': 'Point', 'coordinates': [-74.0062355,...",40.725774,-74.005558,"{'type': 'Point', 'coordinates': [-74.005558, ...",40.777199,-73.872597,"{'type': 'Point', 'coordinates': [-73.87259674...",40.754675,-73.967611,"{'type': 'Point', 'coordinates': [-73.9676108,..."
975,52cdef7e4bab8bd67529b8a7,37.473431,-121.941708,Fremont,"{'type': 'Point', 'coordinates': [-121.9417078...",37.491105,-121.929807,"{'type': 'Point', 'coordinates': [-121.929807,...",37.362598,-121.929001,"{'type': 'Point', 'coordinates': [-121.929001,...",37.417189,-122.108414,"{'type': 'Point', 'coordinates': [-122.1084141..."

## CALCULO LAS DISTANCIAS DE CADA OFICINA A SU RESPECTIVO STARBUCKS/COLEGIO/AEROPUERTO Y LAS SUMO

In [324]:
list_lat_off = list(total['latitude'])
list_long_off = list(total['longitude'])

list_lat_stb = list(total['latitude_stb'])
list_long_stb = list(total['longitude_stb'])

list_lat_airp = list(total['latitude_airp'])
list_long_airp = list(total['longitude_airp'])

list_lat_coles = list(total['latitude_coles'])
list_long_coles = list(total['longitude_coles'])

In [326]:
def coord_tuple(list_lat,list_long):    
    '''- input: 2 lists. list1: latitudes, list2:longitudes
    - output: list of tuples with coordinates
    - how to: coordenadas=tuple(list_lat,list_ong)'''
    
    lista_tuplas=[]
    for lat,long in zip(list_lat,list_long):
        ubication=(float(lat),float(long))
        lista_tuplas.append(ubication)
    return lista_tuplas

In [329]:
harv_offices = coord_tuple(list_lat_off, list_long_off)
harv_stb = coord_tuple(list_lat_stb, list_long_stb)
harv_airp = coord_tuple(list_lat_airp, list_long_airp)
harv_coles = coord_tuple(list_lat_coles, list_long_coles)

In [331]:
#!pip3 install haversine
from haversine import haversine, Unit

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/d7/26/78d4fadc73b7e4c3543f9d5401892cb9a3f4202be789984826033922ec5a/haversine-2.1.2-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.1.2

In [339]:
len(harv_offices)

80

In [340]:
len(harv_stb)

80

In [348]:
def closestStb(harv_offices,harv_stb):
    '''    Esta función necesita correrse como a,b=closest_and_ubi(elem1,elem2)'''
    distancia_stb = []
    for x,y in zip(harv_offices,harv_stb):
        distancia_stb.append(haversine(x,y))
    return distancia_stb

In [369]:
cs = closestStb(harv_offices,harv_stb)

In [351]:
def closestAirport(harv_offices,harv_airp):
    '''    Esta función necesita correrse como a,b=closest_and_ubi(elem1,elem2)'''
    distancia_airp = []
    for x,y in zip(harv_offices,harv_airp):
        distancia_airp.append(haversine(x,y))
    return distancia_airp

In [361]:
ca = closestAirport(harv_offices,harv_airp)

In [355]:
def closestSchool(harv_offices,harv_coles):
    '''    Esta función necesita correrse como a,b=closest_and_ubi(elem1,elem2)'''
    distancia_coles = []
    for x,y in zip(harv_offices,harv_coles):
        distancia_coles.append(haversine(x,y))
    return distancia_coles

In [362]:
cc = closestSchool(harv_offices, harv_coles)

In [391]:
df_distancias = pd.DataFrame({
    "ref_office": ref,
    "lat_office": total.latitude,
    "long_office": total.longitude,
    "coordenadas_office": harv_offices,
    "distancia_starbucks":cs,
    "distancia_airport": ca,
    "distancia_coles": cc
})

In [392]:
df_distancias

,ref_office,lat_office,long_office,coordenadas_office,distancia_starbucks,distancia_airport,distancia_coles
510,52cdef7f4bab8bd67529c6e4,37.559090,-122.321836,"(37.55909, -122.321836)",0.461703,8.143755,22.681629
15,52cdef7f4bab8bd67529c6e4,51.518190,-0.208979,"(51.51819, -0.208979)",0.262813,18.294371,0.551108
788,52cdef7f4bab8bd67529c6e4,37.789644,-122.401464,"(37.7896438, -122.4014635)",0.434839,17.591508,0.838349
789,52cdef7f4bab8bd67529c6e4,40.724432,-73.997328,"(40.724432, -73.997328)",0.215247,12.034193,4.192586
14,52cdef7f4bab8bd67529c6e4,34.052187,-118.243425,"(34.052187, -118.243425)",0.167101,19.466145,1.926258
...,...,...,...,...,...,...,...
539,52cdef7f4bab8bd67529c6e4,48.435349,-122.322539,"(48.4353492, -122.3225393)",0.971199,7195.483063,90.500212
996,52cdef7f4bab8bd67529c6e4,37.782216,-122.406622,"(37.7822158, -122.4066217)",0.228489,17.669487,0.538701
314,52cdef7f4bab8bd67529c6e4,27.913011,-82.702449,"(27.913011, -82.702449)",3.928792,18.018702,12.431197
1087,52cdef7f4bab8bd67529c6e4,40.725902,-74.006236,"(40.725902, -74.0062355)",0.058839,12.619748,4.563544
975,52cdef7f4bab8bd67529c6e4,37.473431,-121.941708,"(37.4734314, -121.9417078)",2.228182,12.375114,15.990751

In [397]:
df_distancias['suma_distancias_ascending'] = df_distancias['distancia_starbucks']+df_distancias['distancia_airport']+df_distancias['distancia_coles']

In [398]:
df_distancias.sort_values(by=['suma_distancias_ascending'], ascending=True, inplace=True)

In [399]:
df_distancias

,ref_office,lat_office,long_office,coordenadas_office,distancia_starbucks,distancia_airport,distancia_coles,suma_distancias,suma_distancias_ascending
516,52cdef7f4bab8bd67529c6e4,46.212146,6.150324,"(46.2121463, 6.1503245)",0.594911,4.296255,0.890471,5.781637,5.781637
1092,52cdef7f4bab8bd67529c6e4,38.902884,-77.063340,"(38.9028838, -77.0633399)",0.271784,6.067529,1.331082,7.670395,7.670395
1090,52cdef7f4bab8bd67529c6e4,40.755263,-73.971948,"(40.7552634, -73.9719482)",0.122937,8.715342,0.371147,9.209426,9.209426
893,52cdef7f4bab8bd67529c6e4,42.349822,-71.049950,"(42.3498224, -71.0499504)",0.430695,4.013787,4.791735,9.236218,9.236218
13,52cdef7f4bab8bd67529c6e4,37.564538,-122.325470,"(37.5645375, -122.3254705)",0.227561,7.464462,1.882301,9.574323,9.574323
...,...,...,...,...,...,...,...,...,...
5,52cdef7f4bab8bd67529c6e4,37.446823,-122.161523,"(37.446823, -122.161523)",0.085000,516.361753,2.946878,519.393631,519.393631
595,52cdef7f4bab8bd67529c6e4,51.511942,-0.093669,"(51.5119418, -0.0936688)",0.637387,5559.066660,1.029113,5560.733160,5560.733160
539,52cdef7f4bab8bd67529c6e4,48.435349,-122.322539,"(48.4353492, -122.3225393)",0.971199,7195.483063,90.500212,7286.954474,7286.954474
1110,52cdef7f4bab8bd67529c6e4,51.213507,4.424810,"(51.2135075, 4.4248103)",0.480442,8863.671616,0.966206,8865.118265,8865.118265
16,52cdef7f4bab8bd67529c6e4,32.820286,34.999140,"(32.8202856, 34.9991402)",3525.740195,9085.804736,3.043097,12614.588029,12614.588029